<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    {# the CSS file lives at "public/css/styles.css" #}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
</head>

<body class="bg_primary">
<div class="container flex align-center height-full">
    <div class="box background">
        <div class="margin-bottom text-align-start"><h1>Update Profile</h1></div>

        {{ form_start(update_profile_form) }}
{{ form_end(update_profile_form) }}
    </div>
</div>

</body>

</html>
